In [1]:
# 1. Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
from scipy import stats

In [7]:
# 2. Load the dataset
df = pd.read_csv(r'C:\Users\HP\Desktop\AI\Final Assignment\heart_attack_prediction_india.csv')

In [9]:
# 3. Basic data overview
print("Dataset shape:", df.shape)
print("First 5 rows:")
display(df.head())
print("Missing values per column:")
display(df.isnull().sum())

Dataset shape: (10000, 26)
First 5 rows:

,Patient_ID,State_Name,Age,Gender,Diabetes,Hypertension,Obesity,Smoking,Alcohol_Consumption,Physical_Activity,...,Diastolic_BP,Air_Pollution_Exposure,Family_History,Stress_Level,Healthcare_Access,Heart_Attack_History,Emergency_Response_Time,Annual_Income,Health_Insurance,Heart_Attack_Risk
0,1,Rajasthan,42,Female,0,0,1,1,0,0,...,119,1,0,4,0,0,157,611025,0,0
1,2,Himachal Pradesh,26,Male,0,0,0,0,1,1,...,115,0,0,7,0,0,331,174527,0,0
2,3,Assam,78,Male,0,0,1,0,0,1,...,117,0,1,10,1,0,186,1760112,1,0
3,4,Odisha,58,Male,1,0,1,0,0,1,...,65,0,0,1,1,1,324,1398213,0,0
4,5,Karnataka,22,Male,0,0,0,0,0,1,...,109,0,0,9,0,0,209,97987,0,1

Missing values per column:

Patient_ID                 0
State_Name                 0
Age                        0
Gender                     0
Diabetes                   0
Hypertension               0
Obesity                    0
Smoking                    0
Alcohol_Consumption        0
Physical_Activity          0
Diet_Score                 0
Cholesterol_Level          0
Triglyceride_Level         0
LDL_Level                  0
HDL_Level                  0
Systolic_BP                0
Diastolic_BP               0
Air_Pollution_Exposure     0
Family_History             0
Stress_Level               0
Healthcare_Access          0
Heart_Attack_History       0
Emergency_Response_Time    0
Annual_Income              0
Health_Insurance           0
Heart_Attack_Risk          0
dtype: int64

In [13]:
# # 4. Handle missing values
# # Fill numerical columns with mean
# num_cols = df.select_dtypes(include=['float64', 'int64']).columns
# # for col in num_cols:# Handle missing values
num_cols = df.select_dtypes(include=['number']).columns
cat_cols = df.select_dtypes(include=['object']).columns

# Fill numerical columns with mean
df[num_cols] = df[num_cols].apply(lambda col: col.fillna(col.mean()))


# #     df[col].fillna(df[col].mean(), inplace=True)
# for col in num_cols:
#     df[col].fillna(df[col].mean(), inplace=True)

In [15]:
# 5. Encode categorical variables
# Label Encoding for binary categories, One-Hot for others
label_enc = LabelEncoder()
for col in cat_cols:
    if df[col].nunique() == 2:
        df[col] = label_enc.fit_transform(df[col])
    else:
        df = pd.get_dummies(df, columns=[col], drop_first=True)

In [17]:
# 6. Normalize/Standardize numerical features
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [21]:
# 7. Detect and remove outliers (Z-score method)
z_scores = np.abs(stats.zscore(df[num_cols]))
df = df[(z_scores < 3).all(axis=1)]

print("Dataset shape after outlier removal:", df.shape)

Dataset shape after outlier removal: (9071, 52)

In [ ]:
# Import necessary libraries for EDA
import seaborn as sns
import matplotlib.pyplot as plt

# Set the style for the plots
sns.set(style="whitegrid")

In [28]:
# 2. Exploratory Data Analysis (EDA)
# Analyze feature distributions
# Histograms for numerical features
# numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns

# plt.figure(figsize=(15, 10))
# for i, col in enumerate(numerical_cols):
#     plt.subplot(3, 3, i + 1)  # Adjust the number of rows and columns as needed
#     sns.histplot(data[col], bins=30, kde=True)
#     plt.title(f'Distribution of {col}')
# plt.tight_layout()
# plt.show()

NameError: name 'data' is not defined